@import '~scss-ui-kit';

.base {
  color: $base-color;
  font-size: 18px;
}
.one {
  font-family: Roboto;
  font-weight: 100;
}
.three {
  font-family: Roboto;
  font-weight: 300;
}
.four {
  font-family: Roboto;
  font-weight: 400;
}
.five {
  font-family: Roboto;
  font-weight: 500;
}
.seven {
  font-family: Roboto;
  font-weight: 700;
}
.nine {
  font-family: Roboto;
  font-weight: 900;
}
